# Python

Python is a high-level, interpreted programming language known for its readability, simplicity, and versatility. It was created by Guido van Rossum and first released in 1991. Python emphasizes code readability and allows programmers to express concepts in fewer lines of code compared to languages such as C++ or Java.

In [1]:
#Basics Python 
#Lets Start With Simple Expression

In [2]:
import keyword

In [4]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [5]:
#Lets start with  Boolean expression
#what is boolean expression-Boolean express created with keywords like- and,or,not,True,False
#lets se with examples.

In [6]:
True and False

False

In [7]:
True and True

True

In [8]:
True or False

True

In [9]:
#lets see the diffrence between and/or
#and-और
#or-या
#i think you should understand.
#lets see with other example

In [10]:
not True

False

In [11]:
not False

True

In [12]:
True is True

True

In [13]:
False is True

False

In [14]:
'a' is 'b'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\skv96\AppData\Local\Temp\ipykernel_18400\4173413985.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'a' is 'b'

False

In [16]:
#lets know one more thing
#True=1
#False=0

In [17]:
True + True

2

In [18]:
True + False

1

In [19]:
False + False

0

In [20]:
False-True

-1

In [22]:
#lets know one more thing
# (is)  and  (==) is same        == Means eqaul to

In [24]:
10<=10

True

In [25]:
10==10

True

In [26]:
True and False or True

True

In [28]:
#This all are the simple expression in boolean

In [29]:
#lets know about Data Types
#Data Types
# 1- Numbers/Integer
# 2-String
# 3-List
# 4-Tuple
# 5-Set
# 6-Dictionary





#Lets Start with Numbers

In [30]:
x=20

In [31]:
# x is variable
# 20 is Data
# How to check datatype.
#lets see.

In [32]:
type(x)

int

In [33]:
#Now See Float numbers
#Float number is which number they have decimels 
#like , see example

In [35]:
x=20.2

In [36]:
x

20.2

In [38]:
type(x)

float

In [39]:
#lets do small mathematical operation.

In [40]:
x=2+2

In [41]:
x

4

In [42]:
a=44
b=22

In [43]:
c = a+b

In [44]:
c

66

# Class_2

In [45]:
#lets start with complex number
#Complex Number ? A complex number which can we studied in ou school. its abot real number and imaginary number , 
#which can be denote as i, 
#example of complex number - 2+5i, But in pyhton i is denoted with j
#see example in jupyer cell.

In [46]:
c=2+5j

In [47]:
type(c)

complex

In [48]:
a = "ram is hero"
type(a)

str

In [49]:
str1='python'
str2=' is a powerful'
str3=' language'

In [50]:
#how we add str1,str2 and str2

print(str1+str2+str3)

python is a powerful language

In [51]:
print("saurav"+" is ex"," mining engineer")

saurav is ex  mining engineer

In [52]:
print('  Day' *  5)  #(* use for multiplication)

  Day  Day  Day  Day  Day

In [54]:
print(' =' * 100)

 = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

In [55]:
#lets add string + integer

In [56]:
print('Day' + 5)

TypeError: can only concatenate str (not "int") to str

In [57]:
#How we can concatenate string + integer ?
#we gave to convert integer into sring.

In [58]:
print('Day' + str(5))

Day5

In [59]:
#Now We Studied about Data Structure.
#what is data structure ? Data structure which can hold,store and save out data
#there are different different typre data structure
#1- List
#2- Tuple
#3- Set
#4- Dictionary

In [60]:
#Create empty  list

lst=[]

In [61]:
lst

[]

In [63]:
type(lst)

list

In [65]:
#create proper list

In [66]:
lst=['a','b','c','d']

In [67]:
lst

['a', 'b', 'c', 'd']

In [68]:
#How to copy into their list

In [69]:
l2=list(lst)

In [70]:
l2

['a', 'b', 'c', 'd']

In [71]:
marks=[30,40,50,60]

In [72]:
copy_marks=marks.copy()

In [73]:
copy_marks

[30, 40, 50, 60]

In [75]:
#Another way to make list

In [76]:
list('saurav') #this method can separate all the elemnts.

['s', 'a', 'u', 'r', 'a', 'v']

In [78]:
#Lets Try with integr

list(8885) #integer object is not iterable

TypeError: 'int' object is not iterable

In [80]:
#Lets Try append mends
#create an empty list and append data by usind appen method.

In [81]:
l1=[]

In [82]:
l1.append('saurav')

In [83]:
#add one more thing
l1.append('vicky')

In [84]:
l1

['saurav', 'vicky']

In [85]:
#add two item 
l1.append('yashu')
l1.append('shivangi')

In [86]:
l1

['saurav', 'vicky', 'yashu', 'shivangi']

In [87]:
#index and insert-Two arguments can be paced in insert method
#insert(index,insert) meaning of index is where we have to add objects and  meaning of insert is what object we have to store.
#see with  example
#lets make new list

In [89]:
l1=['saurav','vicky','minakshi','Donald Trump','Imran khan']
l1

['saurav', 'vicky', 'minakshi', 'Donald Trump', 'Imran khan']

In [91]:
#now we inserting a data in the place of imran khan
#lets see how we can add

l1.insert(4,'putin')

In [92]:
l1

['saurav', 'vicky', 'minakshi', 'Donald Trump', 'putin', 'Imran khan']

In [93]:
#one more example with numbers

l1=[11,22,33,44,55,66]

In [95]:
l1.insert(2,88)
l1

[11, 22, 88, 88, 33, 44, 55, 66]

In [96]:
#list Extended Method
#How to check total element in the list.
#lets create a list

In [98]:
l1=[44,55,66,99,77,88]

In [99]:
len(l1)

6

In [100]:
# if you want to decorate your code
#then you will do someting to decorate
#lets see
#making a list and decorate

print('=' * 100)

print(l1)

print('=' * 100)   #like that

In [103]:
marks=[51,56,89,78,89,45,56,12,12,32,45,32,65,45,89,78,45,56,23,12,4,5,23,23,56,]
marks.count(23)

3

In [104]:
marks.count(89)

3

In [105]:
#this will show only first element index if there are duplication.

In [106]:
#Extend Method.
#manu time people confused with extend and append method. lets i can show you both method extend and append . and 
#what is the the diffrences
#start with append method.

In [107]:
lst=['munmun','lovely']

In [108]:
lst.append(['amisha','khushi'])

In [109]:
lst

['munmun', 'lovely', ['amisha', 'khushi']]

In [112]:
lst1=['munmun','lovely']
lst1

['munmun', 'lovely']

In [113]:
lst1.extend(['amisha','khusi'])

In [114]:
lst1

['munmun', 'lovely', 'amisha', 'khusi']

In [116]:
#thats look cool 
#this is the diffrences.
#similarly you can add integer data as well concepts is same for any type data.

#Pop method
#what is pop method ? pop mehod help for delete last index elemnt from any list.
#lets see with example.

In [118]:
lst1=['Raj','Saurav','Garima','Riya','Gaurav','Ratnesh','Shailesh']
lst1

['Raj', 'Saurav', 'Garima', 'Riya', 'Gaurav', 'Ratnesh', 'Shailesh']

In [119]:
#what we do if we have to delete "Shailesh" from our list.

In [121]:
pop_shailesh=lst1.pop()
pop_shailesh

'Ratnesh'

In [122]:
lst1

['Raj', 'Saurav', 'Garima', 'Riya', 'Gaurav']

In [123]:
#Delete based on index positon
#lets check

In [124]:
lst1

['Raj', 'Saurav', 'Garima', 'Riya', 'Gaurav']

In [125]:
#we have to delete "Garima" From our list

In [126]:
pop_garima=lst1.pop(2)
pop_garima

'Garima'

In [127]:
#Remove method
#what is remove method ?  remove method helps for delete element from our list.
#lets see with example

In [128]:
lst1=[12,33,66,55,44,77,88,99,11,22,33,44,55,66,77,88]
lst1

[12, 33, 66, 55, 44, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88]

In [129]:
lst1.remove(55)

In [130]:
lst1

[12, 33, 66, 44, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88]

In [132]:
#lets remember one thing remove method only work with integer.
#and they can delete first element if there is any duplication

In [133]:
#Reverse Mehtod.
#what is reverse method ? reverse method helps in to reverse show the all element in list.
#lets see..

In [136]:
lst1=[11,22,33,44,55,66,44,55,66,77,88,99]
lst1.reverse()
lst1

[99, 88, 77, 66, 55, 44, 66, 55, 44, 33, 22, 11]

In [137]:
#Sort Method
#What is sort method ? sort method helps in  to arrange the elements by ascending and descending order.
#lets see

In [139]:
lst1.sort()
lst1

[11, 22, 33, 44, 44, 55, 55, 66, 66, 77, 88, 99]

In [141]:
#sort in descending order.

lst1.sort(reverse=True)

In [142]:
lst1

[99, 88, 77, 66, 66, 55, 55, 44, 44, 33, 22, 11]

# Class_3

In [143]:
#Last lecture we learned about Data Structure.Now Continue With Tuples , Set and Dictionary
#Lets start with tuple

In [144]:
#what is tuples ? Tuple is a data structure of python. tuple are always in () round brackets
#tuples are immutable.and its work with all data types.
#lets see with example.

In [145]:
work_location=('Bengluru','Kolkata','Chennai','raipur')
work_location

('Bengluru', 'Kolkata', 'Chennai', 'raipur')

In [146]:
#check type
type(work_location)

tuple

In [147]:
work_location=list(work_location)

In [148]:
work_location

['Bengluru', 'Kolkata', 'Chennai', 'raipur']

In [149]:
#slicing just like a list

In [150]:
work_location[-2]

'Chennai'

In [153]:
#Basics Tuple Method.
#Tuple have buit in method , but not many as list,
#lets see two samples of tuples built in method


numbers=(50,60,40,90,80,70,60,50,40,70,10,20,30,7,50,50)

In [154]:
#use .index to enter a value,  and return the index

In [155]:
numbers.index(30)

12

In [157]:
#Use .count to count the number of times a value appears

numbers.count(50)

4

In [158]:
#Lets Study about Set.
#So what is set ? set is a data structure in pyhton. sets are an unordered collection of unique element- 
#-which can be constructed using set() fucntion.

In [159]:
#Sets   =   1 -  Keeps item in sorted order
#           2 - eliminate the duplicates element.    
#lets see with examples.

In [160]:
roll_number=set()

In [161]:
type(roll_number)

set

In [162]:
#we add to set with the add methods

roll_number.add(1)

In [163]:
roll_number

{1}

In [164]:
#we know that set has only take unique element . lets se if we add duplicates. whats python shows.

In [165]:
roll_number.add(2)

In [166]:
roll_number

{1, 2}

In [167]:
#Try to add the same element

In [168]:
roll_number.add(1)

In [169]:
roll_number

{1, 2}

In [170]:
numbers=[1,2,3,4,5,6,7,8,9,1,2,3,4,56,789,12,74,74,85,96,74,85,96,4,1,52,63,52,41,56,56]

In [173]:
#cast to get unique elements from list

remove_duplicate=set(numbers)
remove_duplicate

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 41, 52, 56, 63, 74, 85, 96, 789}

In [174]:
#lets see the can show only unique element .

In [181]:
#again you can covert to list if you want (after removing duplicates)

numberss=list(remove_duplicate)
print(numberss)

numberss.sort()
numberss

[96, 1, 2, 3, 4, 5, 6, 7, 8, 9, 74, 41, 12, 52, 789, 85, 56, 63]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 41, 52, 56, 63, 74, 85, 96, 789]

In [176]:
#Now Study about dictionary
# what is dictionary ? dictionary is also a data staructure,dictionary contain keys:value in curly {} brackets.
#dictionary will take corresponding value 
#we can construct dictionary to get better understanding.

In [183]:
my_dict={'key1':'value1','key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [184]:
my_dict['key1']

'value1'

In [185]:
my_dict={'Roll Number':123,'Subjects':['Maths','science','Computer'],'Marks':[24,29,25]}

In [186]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [24, 29, 25]}

In [187]:
#Lets call items from the dictionary

In [188]:
my_dict['Subjects']

['Maths', 'science', 'Computer']

In [189]:
my_dict.update({'Roll Number':100})
my_dict

{'Roll Number': 100,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [24, 29, 25]}

In [190]:
#Items will return both keys and corresponding values.

In [192]:
my_dict.items()

dict_items([('Roll Number', 100), ('Subjects', ['Maths', 'science', 'Computer']), ('Marks', [24, 29, 25])])

In [193]:
#Branching (if,elif,else).      what is elif ? else + if =elif
#Puthon provide the if statement to allow branching based on condition. multiple elif checks-
# - can also be peformed followed by an optional else caluse. the statment can be used with any evaluation of truthiness.

In [195]:
i =10
if i<11: # definitely you have doubt whay print is in space, is know as indentation.means four space 
    print('i is samller')
else:
    print('i is greater')

i is samller

In [196]:
#You can write in this way (2nd way to write (if,elif,else)statement)

In [197]:
print('i is smaller')if i<11 else print('i is greater')

i is smaller

In [198]:
#lets se with another example.
#free shipping message

item_1=100
item_2=300

if (item_1+item_2)>=500:
    print('Your item in eligible for free shipping')
else:
    extra=500-(item_1+item_2)
    print('please add',extra,'Rs worth for free shipping')

please add 100 Rs worth for free shipping

In [199]:

#Lets see different example with 'and' method

a=200
b=33
c=500

if a>b and c<a:
    print('Both condtion are true')
else:
    print('Both condion are wrong')

Both condion are wrong

In [200]:

a=200
b=33
c=500

if a>b or c<a:
    print('Atleast one of the condition are true')
else:
    print('Both condition are wrong')

Atleast one of the condition are true

In [201]:
#Lets see with Different Example
#Lets check Student leve

marks=60

if marks>=60:
    if  marks>70:
        print(marks,'distiction')
    else:
        print(marks,'First class')
elif marks>50 and marks<60:
    print(marks,'second division')
elif marks>35:
    print(marks,'Just pass')
else:
    ('marks','Fail Better luck next time')

60 First class

# Class_4

In [202]:
# so, What is range function ? we can genrate a sequence of numbers  using range() function , range(10) will generate numbers -
# -from 0 to 9 (10 numbers). we cance also define the starting number of range,which number we can stop, and step size.
# its write on the (starting number, stop number,step size)
# to force the function to output all the items we can use the function list()



# Lets  see Example.

In [203]:
print(range(10))

range(0, 10)

In [204]:
#print range in list.

print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [205]:
#what if we can generate number from 10 and its goes 100 and the step size is 2.
#lets see

In [206]:
print(list(range(10,101,2)))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [207]:
roll_num=list(range(10,50,1))
roll_num

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [208]:
reverse=list(range(1600,99,-100)) #Lets Remember we have to minus sign for going backword.

In [209]:
reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200,
 100]

In [210]:
location=["Korba","Bilaspur","Raipur","Patna","Siwan"]
\
location  #Lets apply for loop method.

['Korba', 'Bilaspur', 'Raipur', 'Patna', 'Siwan']

In [211]:
for city in location:
    print(city)

Korba
Bilaspur
Raipur
Patna
Siwan

In [212]:
salary=[1000,2000,3000,5000,7000,1000,2000,9000]

for money in salary:
    print(money)

1000
2000
3000
5000
7000
1000
2000
9000

In [213]:
#Lets see anothe example of for loop with branching statement.

student_score=[78,98,65,45,89,87,32,65,54,98,89,78,69,58,47]

In [214]:
#what we have to do in the above cell. we have to create a grades for student_score in abovr list.
#lets see how we can do.

In [215]:
for marks in student_score:
    if marks>90:
        if marks>85:
            print(marks , "Distiction")
        else :
            print(marks , "First class")
    elif marks >60 and marks<85 :
        print(marks ,"First class")
    elif marks>45:
        print(marks ,"Second class")
    elif marks >35:
        print(marks ,"Jsut Pass")
    else:
        print(marks ,"You are fail, please try next time")

78 First class
98 Distiction
65 First class
45 Jsut Pass
89 Second class
87 Second class
32 You are fail, please try next time
65 First class
54 Second class
98 Distiction
89 Second class
78 First class
69 First class
58 Second class
47 Second class

In [216]:
salary=[1000,2000,3000,5000,7000,1000,2000,9000]
#then apply list comprehension.


sal=[val for val in salary if val==2000]
sal

[2000, 2000]

In [217]:
# for loop with else

#lets see how we can use for loop with else method.  - A for loop have an optional else block,as well the else part is executed
# ,if the items in the sequence used in for loop exhaust. break statement ,can be used to stop a for loop ,in such case the else 
# part is ignored     ,   Hence a for loop else part runs when not break method occurs.

In [218]:
#Print multiplication table with for loop with else.

In [219]:
for num in range(2,5):
    print("Multiplication table for",num)
    for i in range(1,11):
        print(num*i)
        if i ==10:
            print( "\n" )
else:
    print("*" * 30)
    print("Thats all")
    print("*" * 30)

Multiplication table for 2
2
4
6
8
10
12
14
16
18
20


Multiplication table for 3
3
6
9
12
15
18
21
24
27
30


Multiplication table for 4
4
8
12
16
20
24
28
32
36
40


******************************
Thats all
******************************

In [220]:
#Lets se another way of print multiplication table.

In [221]:
num=int(input("Enter Number which one you want a table"))

for i in range(1,11):
    print(str(num), 'X' ,str(i),"=",str(num*i))

Enter Number which one you want a table5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [222]:
#Lets see what is F string ? Formatted string litrel . is use for F-strings can also be used to apply number 
#- formatting directly to the values.
#Lets print multiplication table with f string.
#Lets see with example

In [223]:
num=int(input("Enter Number which one you want a table"))

for i in range(1,11):
    print(f"{num}X{i}={num*i}")   #We have to write varaibles in curly brackets and other is whithour curly brackets.

Enter Number which one you want a table9
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81
9X10=90

In [224]:
#One More Example of While Loop.
#Lets say you have to set an alarm and how its work.
#First we havt to import time.

In [225]:
import time

In [226]:
result =time.localtime()

In [227]:
result

time.struct_time(tm_year=2024, tm_mon=7, tm_mday=24, tm_hour=18, tm_min=44, tm_sec=35, tm_wday=2, tm_yday=206, tm_isdst=0)

In [228]:
# Now the time is shown, now we havt to set an alarm .let see how we set alarm with the help of while loop.


while True:
    result=time.localtime()
    if result.tm_hour==18 and result.tm_min==46:
        print("Wake up buddy")
        break

Wake up buddy

In [229]:
#lets Study about small and easy thing 
#enumerate,zip,unzip
#Lets Start with enumerate.
#What is enumerate ? Enumerate() allows us to iterate through a sequence but it keeps track of both the index and the element.
#lets see with example.

In [230]:
student=["Saurav","Gaurav","Ramesh","Suresh","Mukesh"]

for i in enumerate(student):
    print(i)

(0, 'Saurav')
(1, 'Gaurav')
(2, 'Ramesh')
(3, 'Suresh')
(4, 'Mukesh')

In [231]:
for i,name in enumerate(student,1):
    print(i,name)

1 Saurav
2 Gaurav
3 Ramesh
4 Suresh
5 Mukesh

In [232]:
#Lets start zip method.
#what is zip method ? zip method use when we join a two list. 
#see with example you better under stand

In [233]:
student_name=["Ramesh","Riya","Yashu","Rohit","Amisha"]
student_marks=[54,98,99,100,34]

In [234]:
student_details=list(zip(student_name,student_marks))

In [235]:
student_details

[('Ramesh', 54), ('Riya', 98), ('Yashu', 99), ('Rohit', 100), ('Amisha', 34)]

In [236]:
#and How to Unzip.

# use * for unziping

In [237]:
name,marks=list(zip(*student_details))

In [238]:
name

('Ramesh', 'Riya', 'Yashu', 'Rohit', 'Amisha')

In [239]:
marks

(54, 98, 99, 100, 34)

In [240]:
#Lets know one thing How we can do enumerate and zip in same time.

In [241]:
student_name=["Ramesh","Riya","Yashu","Rohit","Amisha"]
student_marks=[54,98,99,100,34]

In [242]:
for i,(name,marks) in enumerate(zip(student_name,student_marks),1):
    print(i,name,marks)

1 Ramesh 54
2 Riya 98
3 Yashu 99
4 Rohit 100
5 Amisha 34

# Class_5

In [243]:
#Using return
#what is return? use of return statement return allow a function to "return" a result that can then be stored 
# as a variable, or used in whatever mannner user wants.

In [244]:
#   Salary update example.
#   without return method.

In [245]:
def salary_incr(salary):
    if salary<=9000:
        (salary + 1000)
    else:
        (salary)

In [246]:
print("Your new salary",salary_incr(5000))

Your new salary None

In [247]:
#   why it was showing none . because we dont give a command to return .you think why we did not given a 
#   print command because print is used by a user and we are coder we check only by using return.

In [248]:
def incr_salary(salary):
    if salary<=8000:
        return (salary+1000)
    else:
        return(salary)

In [249]:
incr_salary(7000)

8000

In [250]:
#  Lambda Function
#  What is lamdba fucntion ? lambda function is used for quick calculation and for one time.
#How to add in lambda

In [251]:
add_num=lambda y:y+30

In [252]:
add_num(40)

70

In [254]:
#Multiple arguments-

In [255]:
multi_num=lambda x,y:x*y

In [256]:
multi_num(4,2)

8

In [257]:
#similarly you can have more arguments and work on it.

#lets study about *args and *kwargs.
#first we study about args , so what  is args ? args take multiple input in the place of function arguments.
#Syntax def(*args)
#lets see with example

In [258]:
def my_func(*args):
    for i in args:
        print("my Args ",i)

In [259]:
my_func("Ramesh","Suresh","Korba",78)

#its mean we put the arguments after the function created,this reason we use *args method

my Args  Ramesh
my Args  Suresh
my Args  Korba
my Args  78

In [260]:
#   **kwargs.
#what is kwargs ? kwargs means Key word arguments, it meaning is result giving same as dictionary.

In [261]:
def my_func(**kwargs):
    for key,value in kwargs.items():
        print(key,value)

In [262]:
my_func(student=["Ram","Shiva"],marks=[84,59])

student ['Ram', 'Shiva']
marks [84, 59]

# Class_6

In [263]:
# In this lecture learning about :-
# 1 -Global and  local variables
# 2 -Input Keyword/User
# 3 -Error and Exception Handling
# 4 -Finally:

In [264]:
# 1- Global and Local Variables



# Global varibale.
# What is global variable ? Global varibale means which variable we can use outside the fucntion as well as inside the fucntion.
#See with Example

In [265]:
extra_marks=10   #Its an global variable

In [266]:
# Local variable
# what is local variable ? local varibale means which varible we can only use inside the fucntion.

#See with example.

In [267]:
def total_marks():
    some_marks=50   #its a local variable, and its not work outside the fucntion
    print("printing inside the fucntion and the total is ",50+some_marks+total_marks)

In [268]:
#How to use local varibale outside the fucntion

In [270]:
def local_global():
    global var12    #see that . what we can do fo var12. ("there is a coversion")
    var12="This is fantastic"
    print(var12)

In [271]:
local_global()

This is fantastic

In [272]:
var12  #see that we are using local varaible to outside the fucntion because we covert local variable to global varibale

'This is fantastic'

In [273]:
name=input("Enter Your Name Baby \n")
print("User Enter",name)

Enter Your Name Baby
SURAJ
User Enter SURAJ

In [274]:
#Lets understand how to make user enter only integer.

In [275]:
maths=int(input("Enter Your Marks"))  #(int) use for integer
science=int(input("Enter Your Marks"))
total_marks=maths + science
print(total_marks," Out of 200")

Enter Your Marks56
Enter Your Marks58
114  Out of 200

In [276]:
name=input("Enter Your name ")
if name.isalpha():
    print("You Entered ",name)
else:
    print("Look like You Did not enter alpha charater")

Enter Your name sHAYAD
You Entered  sHAYAD

In [277]:
def phone_price(phone_make,phone_age,phone_model_gb):
    if phone_make=="iphone13":
        if 0<phone_age<=6:
            if phone_model_gb==128:
                print("Rs 65000 - Rs 75000")
            elif phone_model_gb==256:
                print("Rs 80000")
        if 6<phone_age<=12:
            if phone_model_gb==128:
                print("Rs 60000 - Rs 65000")
            elif phone_model_gb==256:
                print("Rs70000")
    elif phone_make=="iphone11":
        if 0<phone_age<=6:
            if phone_model_gb==64:
                print("Rs 44000 - Rs 48000")
            elif phone_model_gb==128:
                print("RS 50000 - Rs 550000")
        if 6<phone_age<=12:
            if phone_model_gb==64:
                print("Rs 39000 - Rs 42000")
            elif phone_model_gb:
                print("Rs 45000 - 48000")
    else:
        print("No Stock Right Now, Please check after few days")

In [278]:
phone=input(" Enter Your Required Phone  ")
months_old=int(input(" Enter how old phone you need  "))
capacity=int(input(" Enter how much space do you want in you phone  "))
phone_price(phone,months_old,capacity)

 Enter Your Required Phone  iphone11
 Enter how old phone you need  5
 Enter how much space do you want in you phone  64
Rs 44000 - Rs 48000

In [279]:
#Error and Exception Handling - As we know that when we are coding , we get different different types of
# error , this reason python use a error and exception handling.understanding of variouss types of error
# will help you to debug your code much faster.

#Now se how to handle error and exception hadling .
#  try and except
#what is try and except ? Try and Except statement is used to handle these errors within our code
#in Python. The try block is used to check some code for errors i.e the code inside the try block 
#will execute when there is no error in the program. Whereas the code inside the except block will
#execute whenever the program encounters some error in the preceding try block.

In [280]:
#Using just except ,we can check for any exception to understand better. lets check out the smaple code.

In [281]:
marks_1=88
subject="datascience"
marks_2=33

In [282]:
try:
    total= marks_1 + subject
except:
    print("You are only add integer + integer ,not with integer + string")
else:
    (total)

You are only add integer + integer ,not with integer + string

In [283]:
try:
    total=marks_1 + marks_2
except:
    print("plese dont add integer with string")
else:
    print("Your Total marks is \n\t\t",total)

Your Total marks is
		 121

In [284]:
try:
    car_number=input("Enter Your Car number ")
    name=input("Enter Your Name Baby ")
    mobile_number=input("Enter Your Number Baby ")
    if car_number ==" ":
        raise Exception()
    elif name ==" ":
        raise Exception()
    elif mobie_number ==" ":
        raise Exception()
    else:
        pass
except:
    if car_number ==" ":
        print("\n The Registration Field Required")
    if name ==" ":
        print("\n The Name Field is required")
    if mobile_number ==" ":
        print("\n The Mobile Number Field is required")
    
else:
    print("Thanks for registration")

Enter Your Car number 5684
Enter Your Name Baby
Enter Your Number Baby 54

In [285]:
#Finally Block. We dont actually need to memorize the list of exception types. 
# Because fianlly blocks use when try and except both getting error , then finally will print.
# and finally will execute all times . if there are any error or not.

In [286]:

try:
    car_number=input("Enter Your Car number ")
    name=input("Enter Your Name Baby ")
    mobile_number=input("Enter Your Number Baby ")
    if car_number ==" ":
        raise Exception()
    elif name ==" ":
        raise Exception()
    elif mobie_number ==" ":
        raise Exception()
    else:
        pass
except:
    if car_number ==" ":
        print("\n The Registration Field Required")
    if name ==" ":
        print("\n The Name Field is required")
    if mobile_number ==" ":
        print("\n The Mobile Number Field is required")
    
finally:
    print("Thanks for registration")

Enter Your Car number 5684
Enter Your Name Baby SURAJ
Enter Your Number Baby 9992024989
Thanks for registration

In [287]:
# We can use this in conjuction will execute , lets see a new example that will take into account
# a user putting in the wrong input:-

In [288]:
def mobile_num():
    try:
        val=int(input("Enter Your Number "))
    except:
        print("Look Like You did not enter an integer")
    print(val)

In [289]:
mobile_num()

Enter Your Number 99
99

# Class_7

In [290]:
# Today We are learning about OOPS Concept - Object Oriented Programming
# What is Object Oriented Programming ? Solving a problem by  creating objects is one of the most 
# populer approaches in programming this is call object oriented programming.

# Real Time Example -Imagine you are opening a bank account and you fill the most of your personel 
# information .Age,UserName,City,phone number gmail id etc.
# Once you fill all your information and it will register with  bank whwnever you want to check your
# personel informationyou click on personel tab,your name,last_name,account number city etc will be
# displayed

#whenever you want to deposit or withdrawl money you click other tabs.

In [291]:
class Basic_details:
  def __init__(self,name = input("Please enter you name "),
               age = input("Please enter you Age "),
               city = input("Please enter you city "),
               state =input("Enter your State "),
               user_id = input("Enter your user_ID "),
               password= input("Enter your password")):
    self.name = name
    self.age = age
    self.city = city
    self.state = state
    self.user_id = user_id
    self.password = password

  def signin(self):

      while True:
        signin = input("Please Enter your User_ID ")
        Password = input("Please enter your Password")

        if signin==self.user_id and Password == self.password:
          print("Login Sucessfully\n")
          print("*"*40)
          print(f"Hey {self.name} Welcome to the bank")
          print("*"*40)
          break
        else:
          print("Please Enter valid Credentials")
          continue

Please enter you name SURAJ
Please enter you Age 30
Please enter you city FARIDABAD
Enter your State HARYANA
Enter your user_ID SKV9655
Enter your password9992024989

In [292]:
a= Basic_details()

In [293]:
a.signin()

Please Enter your User_ID SKVhh
Please enter your Password9992024989
Please Enter valid Credentials
Please Enter your User_ID SKV9655
Please enter your Password9992024989
Login Sucessfully

****************************************
Hey SURAJ Welcome to the bank
****************************************

In [299]:
#Inheritance -Inheritance is a way of creating a new class from an existing class.
#There are Three Types Of Inheritance - 1 -Single Inheritance , 2 -Multi Inheritance ,3-Multilevel Inheritance

#Lets see with example how to inherits a class from existing class.

In [294]:
class Account_details(Basic_details):
    def __init__(self,account_num = input("Pleaes enter the Account number "),
               balance = int(input("Please enter the balance "))):

               super(Account_details, self).__init__()
               self.account_num = account_num
               self.balance = balance

    def account_verify(self):
      while True:
        Account_number = input("Please enter the Account number ")
        if Account_number == self.account_num:
          print("Your Account has been verified\n")
          print("*"*40)
          print(f"Hey {self.name} Welcome to the Lena bank\n")
          print("Your Current Balance is :",self.balance)
          print("*"*40)
          break
        else:
          print("Please Enter valid Details")
          continue

    def deposit(self):
      print("="*40)
      print(f"Hey {self.name}, Your current balance is {self.balance}")
      print("="*40,"\n")
      deposit_amount = int(input("Please enter the amount "))
      self.balance += deposit_amount
      print("#"*40)
      print("Your current balance is :",self.balance)
      print("#"*40)

    def withdraw(self):
      print("*"*40)
      print(f"Hey {self.name}, Your current balance is {self.balance}")
      print("*"*40)
      withdraw_amount = int(input("Please Enter the amount to withdraw"))
      if withdraw_amount > self.balance:
        print("Insufficient Balance")
      else:
        self.balance -= withdraw_amount
        print("\n")
        print("*"*40)
        print("Your current balance is :",self.balance)
        print("Thank You for using Lena Bank")
        print("*"*40)

Pleaes enter the Account number 9992024
Please enter the balance 0

In [295]:
b = Account_details()

In [296]:
b.account_verify()

Please enter the Account number 9992024
Your Account has been verified

****************************************
Hey SURAJ Welcome to the Lena bank

Your Current Balance is : 0
****************************************

In [297]:
b.deposit()

========================================
Hey SURAJ, Your current balance is 0
========================================

Please enter the amount 1500
########################################
Your current balance is : 1500
########################################

In [298]:
b.withdraw()

****************************************
Hey SURAJ, Your current balance is 1500
****************************************
Please Enter the amount to withdraw1000


****************************************
Your current balance is : 500
Thank You for using Lena Bank
****************************************

In [300]:
# Encapsulation - Encapsulation is an another powerful way to extend a class which consists
# on wrapping object with second one.

#Just like gmail,google photos,g drive and wrapped into one

# The abstraction process relies on creating a simplified model that removes useless details from
# a concept. In order to be simplified a model should be described in trems of other concepts, 
# for eaxmple - we can say that a car is composed be :-
# Tyre
# Engine
# Body


#And breakdown each one of these element in simpler parts untill we reach primitive data.

In [301]:
class Tyres:
    def __init__(self,branch,belted_bias,opt_pressure):
        self.branch=branch
        self.belted_bias=belted_bias
        self.opt_pressure=opt_pressure
    def __str__(self) :#__str__ can be used if you dont want to define a method name,but you want this to execute
        return("Tyre \n\t Branch "+self.branch+
               "\n\tBelted_bias "+str(self.belted_bias)+
               "\n\topt_pressure "+str(self.opt_pressure))
class Engine:
    def __init__(self,fuel_type,noise_level):
        self.fuel_type=fuel_type
        self.noise_level=noise_level
    def __str__(self):
        return("\n\t fuel type is  "+self.fuel_type+
              "\n\t noise leve is  "+str(self.noise_level))#__str__ method only returns only text so we are converting into string.
class Body():
    def __init__(self,size):
        self.size=size
    def __str__(self):
        return("\n\t Body Size of car is "+self.size)
    
class Car():
    def __init__(self,Tyres,Engine,Body):
        self.Tyres=Tyres
        self.Engine=Engine
        self.Body=Body
    def __str__(self):
        return   str(self.Tyres) +"\n  "  + str(self.Engine) +"\n" +  str(self.Body)
t=Tyres("MRF",True,34)
e=Engine("petrol",2.3)
b=Body("sedan")
c=Car(t,e,b)
print(c)

Tyre
	 Branch MRF
	Belted_bias True
	opt_pressure 34

	 fuel type is  petrol
	 noise leve is  2.3

	 Body Size of car is sedan

Tyre
	 Branch MRF
	Belted_bias True
	opt_pressure 34

	 fuel type is  petrol
	 noise leve is  2.3

	 Body Size of car is sedan